# Ignore environment variables file
.env

# Ignore node modules directory
node_modules/

/# Add any other files or directories you want to ignore
# .DS_Store
# build/
# dist/
# coverage/
# logs/
# npm-debug.log*
